.App{
  align-content: center;
  text-align: center;
  margin: auto;
}

.buttons{
  margin: 10px;
  text-align: center;
}

.label{
  white-space: nowrap;
  width: 300px;
  height: 60px;
  margin: 0.001px;
  font-size: 25px;
}

.horizontalContainer{
  display: flex;
  text-align: center;
}

/* inside horizontal container */
.verticalContainer {
  border: 2px solid;
  display: flex;
  flex-direction: column;
}

.response{
  width: 300px;
  height: 10px;
  border: 2px solid;
  padding: 10px;
  margin: 11px;
}